include _mixins.pug
footer.footer
  a(href=`mailto:${email}`) #{email}
  .or or
  ul.social-links
    li.social-links-item
      a(href=linkedin_profile_link)
        +icon('linkedin')
    li.social-links-item
      a(href=telegram_link)
        +icon('telegram')
    li.social-links-item
      a(href=twitter_link)
        +icon('twitter')
    li.social-links-item
      a(href=github_link)
        +icon('github')
